:focus {
  outline: none; }

body {
  height: 100vh;
  background-color: #f5f5f5;
  padding: 80px 3%; }

#steps-fivepercent-slider .ui-slider-tip {
  visibility: visible;
  opacity: 1;
  top: -30px; }

h1 {
  margin: 0; }

h1.title {
  margin-bottom: 50px; }

.slider-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px; }

.remove {
  width: 100px; }

.irs-with-grid {
  height: 30px !important;
  width: 70vw;
  background-color: #fff; }

.irs-from, .irs-to, .irs-single {
  font-size: 1em !important;
  top: -30px !important; }

h1 {
  margin: 0; }
